div{
    width: 100%;
    background-color: #710000;
    height: 311px;
}
img{
    width: 213px;
    height: 204px;
    position: absolute;
    left: 68px;
    top: 209px;
}
body{
    margin: 0;
}